.container {
	margin-bottom: 50px;
}

.container > div,
.container-fluid > div {
	border-bottom:1px solid #000;
	margin-top:15px;
}

.container > div > h3,
.container-fluid > div > h3 {
	color:#F00;
	font-weight:bold;
}

.container > div > h4,
.container-fluid > div > h4 {
	color:#000;
	font-weight:bold;
}

ul > p {
	margin:0px;
}

