* {
	padding:0px;
	margin:0px auto;
	border:none;
}

body {
	background-color:#63C;
}

p,
a,
em,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding:0px 5px;
}

#topcodingnav ul {
	list-style-type:none;
	background-color:#609;
}

#topcodingnav ul li	{	
	display:inline;
	padding:5px 40px 5px 5px;
}

#topcodingnav a {
	color:#6F9;
	text-decoration:none;
}

#wrapper {
	width:900px;
	margin:10px auto;
	background-color:#69C;
}

.point {
	margin:20px 0px;
}